*Authentication*/

#login, #signup {
  min-height: calc(100vh - 72px);
}

#login input.form-control {
  border-radius: 0px;
  border: 2px solid #dfe2e6;
  box-shadow: 0 0 0 0.25rem transparent;
}

#login .login-wrapper, #signup .signup-wrapper {
  margin: 6rem auto auto auto;
  font-size: 1.3rem;
  max-width: 20rem;
}

#login img, #signup img {
  margin-bottom: 3rem;
}

#login .btn, #signup .btn {
  font-size: 1rem;
  background-color: white;
  border: 3px solid;
  border-radius: 0rem;
}

#login .btn:hover, #signup .btn:hover {
  background-color: #6c757d;
  border: 3px solid #6c757d;
}

#login .lost-password, #login .remember {
  font-size: .85rem!important;
}

#login .lost-password a {
  text-decoration: none;
  color: #1596e0;
}

#login .credentials-error {
  text-decoration: none;
  color: #e01515;
}

#login form, #signup form {
  margin-bottom: 4rem;
}

.login-container {
  color: #6d757d;
}