#dashboard .dashboard-wrapper {
  padding: 8rem 2rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

#dashboard .dashboard-wrapper p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#dashboard .dashboard-wrapper a {
  text-decoration: none;
}


#dashboard a {
  color: #199ce2;
}