div#products-list {
    border-bottom: 1px solid #dfe2e6;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    display: flex;
    align-content: center;
    align-items: center;
}

p{
    margin: 0;
}