#products-list-admin .products-list {
  padding: 1.5em 0em;
  border: 0px;
  border-bottom: 1px solid #dfe2e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6c757d;
}

p {
  margin: 0;
}

#head-products-list {
  background-color: #1a99e1;
  padding: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 2px solid #1c9ce2;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  #head-products-list,
  #products-list {
    margin: 0;
  }

  #products-list .buttons:first-child {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  #products-list .buttons:last-child {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
}
