#categories-filter .filter-header {
  text-transform: uppercase;
  border-bottom: 2px solid #dfe2e6;
  color: #6d757d;
  font-weight: 600;
  display: inline-block;
}
/* text-uppercase border-bottom mb-2 d-inline-block */

button.btn.btn-link {
  display: block;
  padding-left: 0;
  text-decoration: none;
  text-transform: capitalize;
  color: #6d757d;
}
button.btn.btn-link:hover {
  font-weight: 600;
  color: #6d757d;
}

button.btn.btn-link:first-child {
  margin-top: 1rem;
}

button.d-block.p-0.pt-2.btn.btn-link:focus,
.btn-check:focus + .btn,
.btn:focus,
button.d-block.p-0.pt-2.btn.btn-link:focus-visible,
.btn-check:focus-visible + .btn,
.btn:focus-visible {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}

.reset {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button.reset.btn.btn-outline-danger {
  border-radius: 0px;
}
