#card-products {
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
}
#card-products .img-container {
  height: 200px;
  display: flex;
  align-items: center;
}

.products.d-flex.row.justify-content-start {
  border-bottom: 2px solid #dfe2e6;
}

#card-products .card-body{
  color: #191919; 
}

