#subnav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.active {
  font-weight: 700;
  border-bottom: 3px solid #dee2e6;
}

.customer-menu {
  background-color: #fff;
  display: flex;
}

.center.col-lg-2.col-sm-4.col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#subnav .subnav.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#subnav .button-navMyAdmin {
  padding: 0 3rem;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  #subnav .subnav.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

