#manage-products {
  margin: 3rem 0;
}

#manage-products .row-section {
  margin: 0;
  padding: 0;
  display: -webkit-box;
}

#manage-products .filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem !important;
  padding: 0;
}

#manage-products .list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  #manage-products .filter-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    padding: 0;
  }
}
