#manage-categories {
  margin: 3rem auto;
}

#manage-categories .filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem !important;
  padding: 0;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  #manage-categories {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }

  #manage-categories .search,
  #manage-categories .filter-container,
  #manage-categories .add {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
  }
  #manage-categories .search-container {
    margin-bottom: 1.5rem;
  }

  #categories-list-admin .categories-list {
    padding: 1.5em 0em;
  }
}
