#manage-cat {
  margin: 3rem auto;
}

#manage-cat .search-add {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#manage-cat .search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#manage-cat button.reset {
  margin-left: -2px;
  border-radius: 0px;
  border: 2px solid #dfe2e6;
  margin-top: 0px;
  height: 36px;
}

#manage-cat .search-container {
  margin-bottom: 0;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  #manage-cat {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }

  #manage-cat .search,
  #manage-cat .search-add,
  #manage-cat .add {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
  }
  #manage-cat .search-container {
    margin-bottom: 1.5rem;
  }

  #cat-list-admin .categories-list {
    padding: 1.5em 0;
  }
}
