#create-product {
  margin: 2.8rem auto 5rem auto;
}

#create-product input.form-control,
#create-product select.form-select,
#create-product select.form-control,
#create-product textarea.form-control,
#create-product button.btn.btn-outline-success {
  border-radius: 0px;
}

#create-product button.btn.btn-outline-success {
  margin-top: 1rem;
  min-width: 30%;
}

#create-product .form-label {
  color: #6d757d;
}

#create-product #text-editor .ql-editor {
  min-height: 15rem;
}

#create-product span svg {
  vertical-align: super;
}

#create-product .ql-editor ul {
  padding-left: 0;
}
