#about-us .m-5.card {
  border-radius: 0px;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  #about-us .m-5.card {
    margin: 2rem 0 !important;
  }

  #about-us .cards-div  {
    padding: 2rem !important;
  }
}
