#popup-cart {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal-dialog {
  min-width: 30vw;
}

.modal-content {
  min-height: 100vh;
  justify-content: flex-end;
  border-radius: 0px;
}

.modal-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

