span.text-center.price {
  font-size: 1.5em;
}

.prod-text.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
}

/* #card-products:hover {
  border: 1px solid #17a2b8;
  border-radius: 0px;
} */

button.w-100.btn.btn-outline-danger,
a.btn.btn-outline-secondary.edit-btn.w-100.mb-2 {
  border-radius: 0px;
}
