#categories-list{
    padding: 1.5em;
    border: 0px;
    border-bottom: 1px solid #dfe2e6;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#categories-list:last-child{
    border-bottom: 0px solid #dfe2e6;
}