p {
  margin: 0;
}

#head-categories-list {
  background-color: #a033d1;
  padding: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 2px solid #a033d1;
}

#categories-list-admin .category-row {
  padding: 1.5rem 0rem;
  border: 0px;
  border-bottom: 1px solid #dfe2e6;
  color: #6c757d;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#categories-list-admin .actions-btn {
  padding-left: 0;
}
