p {
  margin: 0;
}

#head-users-list {
  background-color: #d02953;
  padding: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 2px solid #d02953;
}

#users-list-admin .user-row {
  padding: 1.5rem 0rem;
  border: 0px;
  border-bottom: 1px solid #dfe2e6;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#users-list-admin .actions-btn {
  padding-left: 0;
}

#users-list-admin .form-check-input:checked {
  background-color: #d02953;
  border-color: #d02953;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  #users-list-admin {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  #head-users-list {
    margin: 0;
  }
  #head-users-list p {
    text-align: left !important;
  }

  #users-list-admin .before div::before {
    content: 'Admin ';
    color: #6d757d;
    padding-right: 1rem;
  }
  .before {
    text-align: left;
  }
}
