#customer-addresses .dashboard-wrapper {
  padding: 3rem 2rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

#customer-addresses .accordion{
  color: #707071;
  font-weight: 600;
}


#customer-addresses button.accordion-button.collapsed {
  color: #707071;
  font-weight: 600;
  font-size: 1.2rem;
}

#customer-addresses input#formPlaintextEmail {
  color: #707071;
}

#customer-addresses .accordion-button:not(.collapsed) {
  background-color: #f7f9fa;
  color: #707071;
  font-weight: 600;
  font-size: 1.2rem;
}



#customer-addresses  a.edit.btn.btn-outline-secondary.w-100,
#customer-addresses  a.add.btn.btn-outline-secondary.w-100{
  border-radius: 0px;
}


#customer-addresses .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

