.checkout-cart {
  border: 1px solid #dfe2e6;
  padding: 1em;
}

button.btn.btn-outline-dark {
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.popup-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-checkout {
  color: #17a2b8;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.total-line {
  display: flex;
  justify-content: flex-end;
}
.quantity {
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.total-price {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}
.total-price h3 {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  color: #28b071;
}

.checkout-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/* From old project*/

#cart {
  padding: 4rem 0;
}

#cart button.btn.btn-outline-dark {
  width: 25px;
  height: 25px;
  margin: -1px 0px;
  padding: 1px;
}
#cart .total-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart .title {
  margin-bottom: 0rem;
  color: #6d757d;
}

#cart .p-3.border-bottom.popup-cart.row {
  padding: 0.5rem !important;
}

#cart h3,
#cart h5 {
  margin-bottom: 0rem;
  color: #6d757d;
}

#cart h4 {
  margin-bottom: 1rem;
  color: #6d757d;
}

#cart .card h5 {
  margin-top: 0rem;
}
#cart .card {
  margin: auto;
  max-width: 1000px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0;
  border: transparent;
}

#cart .payment{
  margin-top: 3rem;
}

#cart .summary-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  #cart .card {
    margin: 3rem auto;
  }
}

#cart .card .cart {
  background-color: #fff;
  padding: 3rem 2rem;
}

@media (max-width: 767px) {
  #cart .card .cart {
    padding: 3rem;
    border-bottom-left-radius: unset;
    border-top-right-radius: 0;
  }
}

#cart .card .summary {
  background-color: #f7f9fa;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 3rem 2rem;
  color: rgb(65, 65, 65);
  border-left: 1px solid #dfe2e6;
}

@media (max-width: 767px) {
  #cart .card .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 0;
  }
}

#cart .card .summary .col-2 {
  padding: 0;
}

#cart .card .summary .col-10 {
  padding: 0;
}

#cart .card .row {
  margin: 0;
}

#cart .card .title b {
  font-size: 1.5rem;
}

#cart .card .items-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

#cart .card .col-2,
#cart .card .col {
  padding: 0 1rem;
}

#cart .card a {
  padding: 0;
}

#cart .card .close {
  margin-left: auto;
  font-size: 0.8rem;
  font-weight: bold;
}

#cart .minus-plus {
  font-size: 0.8rem;
}

#cart .card img {
  width: 3.5rem;
}

#cart .card .back-to-shop {
  margin-top: 1.5rem;
  font-family: sans-serif;
  padding-left: 0.2rem;
  display: flex;
  justify-content: flex-start;
}

#cart .card hr {
  margin-top: 1.25rem;
}

#cart .card form {
  padding: 2rem 0;
}

#cart .card select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  margin-bottom: 1rem;
  outline: none;
  width: 100%;
  background-color: #fff;
}
 #cart .card input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 0.5rem;
  outline: none;
  width: 100%;
  background-color: #fff;
}

#cart .card input:focus::input-placeholder {
  color: transparent;
} 

#cart .card .btn {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0;

}

#cart .card .btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  box-shadow: none;
  user-select: none;
  transition: none;
}

#cart .card .btn:hover {
  color: white;
}

#cart .card a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#cart .border {
  font-weight: 100 !important;
  font-size: 1.2rem;
}

#cart .form-label {
  color: #6d757d;
}

#cart input.form-control,
#cart select.form-select,
#cart select.form-control,
#cart textarea.form-control,
#cart button.btn.btn-success {
  border-radius: 0px;
}

#cart textarea.form-control {
  min-height: 20vh;
}

#cart button.btn.btn-success {
  margin-top: 1rem;
  width: 100%;
} 

#cart .shopping {
  border: 1px solid #dfe2e6;
  padding: 1.5rem 0;
}

#cart .items-list.align-items-center.row {
  padding: 1.5rem 1.5rem 0rem !important;
}

#cart .p-3.popup-cart.row:last-child {
  border-bottom: 0px solid red;
}

#cart .p-3.popup-cart.row {
  border-bottom: 1px solid #dfe2e6;
}

#cart .summary{
  display: flex;
  flex-direction: column;
}







