.topbar {
  margin-bottom: 2rem;
}

input[type="search"] {
  border: none;
  border-radius: 0rem;
  margin-bottom: 0rem;
}

.search-container {
  border: 2px solid #dfe2e6;
  height: fit-content;
  block-size: fit-content;
  padding: 0;
  margin-bottom: 1.5rem;
}

.search-icon{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 0px;
}

.search-btn:focus,
.search-btn:focus-visible,
input[type="search"]:focus {
  box-shadow: none !important;
  outline: none;
  background-color: transparent;
}

.clear-filters a {
  font-weight: 600;
}

button.btn.btn-light.transparent {
  background-color: transparent;
  border: 0px;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .search-container{
    width: 100%;
  }
}

