p {
  margin: 0;
}

#head-orders-list {
  background-color: #f5ab15!important;
  padding: 0.8rem;
  font-weight: 600;
  color: #ffffff!important;
  border-bottom: 2px solid #f5ab15!important;
}

#manage-orders {
  margin: 3rem auto;
}

#manage-orders .form-select {
  width: 75%;
  color: #6d757d;
  border-radius: 0px;
}

#manage-orders .orders-list {
  padding: 1.5em 0em;
  border: 0px;
  border-bottom: 1px solid #dfe2e6;
  color: #6c757d;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#manage-orders .form-select:focus {
  border-color: rgb(245 171 21 / 30%);
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(245 171 21 / 30%);
}
.pagination {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  #manage-orders {
    margin: 3rem 0;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  #head-orders-list {
    margin: 0;
  }
  #manage-orders .orders-list {
    padding: 1.5em 0;
    margin: 0;
  }
  #manage-orders .form-select {
    width: 100%;
  }
}
