#popup-cart {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6d757d;
}

#popup-cart h4,
#popup-cart h3 {
  font-size: 1.1rem;
}

#popup-cart .total-price,
#popup-cart .total-price h3 {
  font-size: 1.6rem;
}

a.w-100.btn.btn-outline-success.btn-lg {
  border-radius: 0px;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

