#product-details {
  margin: 3rem auto;
}

#product-details .row {
  display: flex;
  justify-content: center;
}

#product-details .col {
  margin: 0px 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading {
  font-size: 2.7em;
  font-weight: 600;
  color: #6d757d;
}

.product-description {
  margin: 1.5rem 0 1rem 0;
  color: #6d757d;
}

.product-price {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #6d757d;
}

button.btn.btn-outline-success.btn-lg {
  border-radius: 0px;
}

img.w-100 {
  box-shadow: 0px 0px 7px -4px #767e85;
}

#product-details .mde-header {
  display: none !important;
}

#product-details .react-mde-tabbed-layout {
  border: none !important;
}
