@import '~@sweetalert2/theme-minimal/minimal.css';

.active {
  font-weight: 900 !important;
  border-bottom: none !important;
}

input.form-control,
select.form-select,
select.form-control,
textarea.form-control {
  border-radius: 0px;
  color: #46484b;
}
