@font-face {
  font-family: 'AzoSans';
  src: url('./fonts/Azo-sans/AzoSans-Light.otf') format('opentype');
  /* src: url("../fonts/Azo-sans/AzoSans-Light.otf") format("opentype"); */
  font-weight: lighter;
}

@font-face {
  font-family: 'AzoSans';
  src: url('./fonts/Azo-sans/AzoSans-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'AzoSans';
  src: url('./fonts/Azo-sans/AzoSans-Bold.otf') format('opentype');
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'AzoSans', Helvetica, Arial, sans-serif;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #00b7ff;
}

h2.text-center.text-muted {
  font-size: 4em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.section {
  min-height: calc(100vh - 456px);
  padding-top: 2em;
  padding-bottom: 2em;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1rem;
  z-index: 2;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 1rem;
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 71px);
}
