#dashboard-admin .dashboard-wrapper {
  padding: 8rem 2rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

#dashboard-admin .dashboard-wrapper p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#dashboard-admin .logout {
  color: #199ce2;
}
#dashboard-admin .logout:hover {
  cursor: pointer;
  color: #0a58ca;
}
